<table>
   <% var ii; for (ii=0; ii < quizes.length; ii++) { %>                <tr><td><a href="/quizes/<%= quizes[ii].id %>"><%= quizes[ii].pregunta %></a></td></tr> 
  <% } %>
</table>
<p><a href="/quizes/new"><button type="button">Crear pregunta</button></a></p>
